/*======================================================*/
/*======================================================*/
/*COSAS EXTRAS*/
/*Animacion de ondas*/
.waves {
    position: relative;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    overflow: hidden;
}
.waves-ripple {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.waves-animate {
    -webkit-animation: waves_ripple-animate 0.5s linear;
            animation: waves_ripple-animate 0.5s linear;
}

@-webkit-keyframes waves_ripple-animate {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
    }
}

@keyframes waves_ripple-animate {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
    }
}
/*======================================================*/
/*Nav bar*/
.start{
    background-color: #053769;
    color:rgb(227, 234, 252)!important;
    padding: 0;
    margin: 0;
}
.start .start-nav{
    padding-top: .2rem;
}
.start .start-nav .start-nav__logo-header{
    height: 3.2rem;
}
.start .start-nav .fa-shopping-cart{
    font-size: 1.8rem;
    justify-content: end;
}
.start .start-nav .navbar-toggler{
    color: rgb(227 234 252) !important;
    border-color: rgb(227 234 252 / 0%);
}
.start .start-nav .navbar-toggler .fa-bars{
    font-size: 2rem;
}
.start .start-nav .start-nav-selection{
    margin-right: 0;
}
.start .start-nav .push-right{
    margin-left: auto;
    margin-right: 1rem;
}
.start .start-nav .start-nav-selection ul li{
    padding-top: .6rem;
}
.start .start-nav .start-nav-selection ul li a{
    display: flex;
    justify-content: center;
    color: rgb(227, 234, 252) !important;
    transition: all .54s;
}
.start .start-nav .start-nav-selection ul li a:hover{
    background-color: rgb(227, 234, 252);
    color: #053769!important;
    font-size: 1.09rem;
    font-weight: bold;
}
/*======================================================*/
/*Productos*//*container and options*/
.products .flex-container{
    display:flex;
    flex-wrap: wrap;
    background-color: #2a84dd;
}
.products .flex-container .tab-list {
    margin: auto;
}
.products .flex-container .tab-list a{
    color: rgb(227, 234, 252)!important;
}
.products .flex-container .tab-list li a span {
    padding: 0 .5rem;
}
.products .flex-container .tab-list .in a{
    font-weight: bold;
}
.products .flex-container .flex-item{
    max-width: 350px;
    max-height: 630px;
}
/*Productos-card*/
.card{
    border-radius: 2.6rem;
    background: black;
    color: rgb(227, 234, 252)!important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.card-title{
    font-size: 1rem;
    font-weight: bold;
}
.card-text{
    font-size: .75rem;
}
.card-body .btn-primary:hover{
    background-color: #2a84dddc;
}
.card-body .btn-primary {
    color: rgb(227, 234, 252)!important;
    background-color: #2a84dd;
    transition: all .3s;
    font-weight: bold;
}
.card-img-top{
    border-radius: 2.6rem;
    background-color: rgba(51, 69, 114, 0.568);
}
/*for card with image and horizontal text*/
.row {
    margin-right: 0; 
    margin-left: 0; 
}
/*======================================================*/
/*PRODUCTS AND PROMOTIONS*/
.tab-item {
    display: none;
}
.tab-item.in {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*SEARCH FILTER*/
.Search .search-navbar-filter .tab-items .tab-item {
    color:  rgb(227, 234, 252)!important;
    width:100%;
}
.search-navbar-filter .tab-list{
    min-width:100%;
}
.search-navbar-filter .tab-items{
    min-width:100%;
}
/*======================================================*/
/*Promotions*/
.promociones .container-fluid  .flex-item{
    min-width: 100%;
    max-width: max-content;
    max-height: max-content;
}
/*======================================================*/
/*Footer*/
footer{
    min-height: 25vh;
    width: 100%;
    background-color: black;
    font-size: 10vh;
    color: rgb(255, 255, 255)!important;
}
/*======================================================*/
/*======================================================*/
/*======================================================*/
/*Search navBar*/
.Search .search-navbar-filter .tab-list{
    min-width:100%;
}
.Search .search-navbar-filter .tab-list .btn{
    font-weight: bold;
    padding: .375rem .60rem;
}
.Search .search-navbar-filter .tab-items{
    min-width:100%;
}
.Search .search-navbar-filter .search-navbar-filter__options{
    min-width:100%;
}
.Search .search-navbar-filter .search-navbar-filter__options-button {
    min-width: 100%;
}
/*======================================================*/
/*btn section page*/
.page .btn{
    background-color: #053769;
    color: rgb(227, 234, 252) !important;
    font-weight: bold;
}
.page .btn:focus{
    background-color:rgb(227, 234, 252);
    color:  #053769!important;
    font-weight: bold;
    border-color: #053769;
}
/*======================================================*/
/*Content of a search*/
.result{
    background-color: #2a84dd;
}
.result .result__description p{
    text-align: center;
    color: rgb(227, 234, 252)!important;
    font-weight: bold;
}
.result .result-search{
    flex-wrap: wrap;
    margin: .65rem
}
.result .result-search .card .row .col-md-4{
    padding: 0;
}
/*======================================================*/
/*======================================================*/
/*======================================================*/

/*======================================================*/
/*Description Product*/
section{
    background-color: #2a84dd;
    color: rgb(227, 234, 252)!important;
}
.description-product{
    flex-wrap: wrap;
}
.description-images{
    max-width:375px;
}
.description-content{
    max-width: 375px;
}
.description-content select option{
    vertical-align: inherit;
}
.description-content__label{
    font-weight: bold;
}
.description-content__options{
    background-color: #343a40;
    color: rgb(227, 234, 252) !important;
}
.btn-secundary{
    background-color: #343a40;
    color: rgb(227, 234, 252) !important;
}
/*Otros productos*/
.others-products {
    background-color: #053769;
}
.others-products .others-products__content{
    overflow-x:scroll;
    width:100%;
    display : inline-flex;
}
.others-products .others-products__content .card .card-img-top{
    min-width: 180px;
}
.others-products .others-products__content .col-md-4{
    max-width: 260px;
}
/*======================================================*/
/*======================================================*/
/*======================================================*/
/*buy*/
/*order*/
.cart-info__product-table{
    border-collapse: separate;
    border-spacing: 0 10px;
    font-size: .75rem;
}
.visually-hidden {
    clip: rect(0, 0, 0, 0);
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
}
.product-thumbnail__image{
    max-width: 65px;
}
.product-thumbnail {
    border-radius: 8px;
    position: relative;
}
.product-thumbnail__quantity {
    font-size: 0.8571428571rem;
    font-weight: 500;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: rgba(114,114,114,0.9);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.5833333333em;
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    z-index: 3;
}
.product__description {
    text-align: left;
    width: 100%;
    height: 80px;
}
.product__description__name {
    width: 1rem;
    min-width: 100%;
    display:block;
}
/*main shopping*/
.list-inline-item{
    font-size: .8rem;
}
.link{
    color: #053769 !important;
    font-weight: bold;
}
.main__item--current{
    font-weight: bold;
    color: #343a40;
}
.section__header{
    text-align: center;
}
.form-control:focus {
    background-color:#343a40;
}
@media (min-width: 800px) {
    .buy-content .cart-info .container-fluid{
        display: none;
    }
    .buy-content .cart-info .collapse{
        display: flex;
        min-width: 500px;
    }
    .buy-content{
        display: flex;
        flex-wrap: nowrap;
    }
    .content-list-main .general-form-container__form {
        max-width: 80%;
    }
}
/*======================================================*/
/*======================================================*/
/*======================================================*/
/*contact*/
@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/*social media*/
.social-medias-icons img{
    max-width: 10vh;
    object-fit: cover;
}

/*======================================================*/
/*======================================================*/
/*======================================================*/
/*contact*/
@media (min-width:768px)
{
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width:800px)
{
    .general-form-container{
        display: flex;
        justify-content: center;
    }
    .general-form-container__form{
        max-width: 50%;
    }
    .login-options{
        max-width: 770px;
        margin: auto;
    }
}

/*======================================================*/
/*======================================================*/
/*======================================================*/
/*contador de productos*/
.description-content__quantity-selector{
    max-width: 130px;
}
.description-content__quantity-selector input{
    min-width: 48px;
}

/*======================================================*/
/*======================================================*/
/*======================================================*/
/*cart*/
.cart-content{
    max-width: 94%;
}
@media (min-width:800px)
{
    .cart-content {
        max-width: 725px;
        margin: auto;
    }
}