/*======================================================*/
/*======================================================*/
/*COSAS EXTRAS*/
/*Animacion de ondas*/
.waves {
    position: relative;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    overflow: hidden;
}
.waves-ripple {
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
}
.waves-animate {
    -webkit-animation: waves_ripple-animate 0.5s linear;
            animation: waves_ripple-animate 0.5s linear;
}

@-webkit-keyframes waves_ripple-animate {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
    }
}

@keyframes waves_ripple-animate {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
    }
}
/*======================================================*/
/*Nav bar*/
.start{
    background-color: #053769;
    color:rgb(227, 234, 252)!important;
    padding: 0;
    margin: 0;
}
.start .start-nav{
    padding-top: .2rem;
}
.start .start-nav .start-nav__logo-header{
    height: 3.2rem;
}
.start .start-nav .fa-shopping-cart{
    font-size: 1.8rem;
    justify-content: end;
}
.start .start-nav .navbar-toggler{
    color: rgb(227 234 252) !important;
    border-color: rgb(227 234 252 / 0%);
}
.start .start-nav .navbar-toggler .fa-bars{
    font-size: 2rem;
}
.start .start-nav .start-nav-selection{
    margin-right: 0;
}
.start .start-nav .push-right{
    margin-left: auto;
    margin-right: 1rem;
}
.start .start-nav .start-nav-selection ul li{
    padding-top: .6rem;
}
.start .start-nav .start-nav-selection ul li a{
    display: flex;
    justify-content: center;
    color: rgb(227, 234, 252) !important;
    transition: all .54s;
}
.start .start-nav .start-nav-selection ul li a:hover{
    background-color: rgb(227, 234, 252);
    color: #053769!important;
    font-size: 1.09rem;
    font-weight: bold;
}
/*======================================================*/
/*Productos*//*container and options*/
.products .flex-container{
    display:flex;
    flex-wrap: wrap;
    background-color: #2a84dd;
}
.products .flex-container .tab-list {
    margin: auto;
}
.products .flex-container .tab-list a{
    color: rgb(227, 234, 252)!important;
}
.products .flex-container .tab-list li a span {
    padding: 0 .5rem;
}
.products .flex-container .tab-list .in a{
    font-weight: bold;
}
.products .flex-container .flex-item{
    max-width: 395px;
    max-height: 630px;
}
/*Productos-card*/
.card{
    border-radius: 2.6rem;
    background: black;
    color: rgb(227, 234, 252)!important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.card-title{
    font-size: 1rem;
    font-weight: bold;
}
.card-text{
    font-size: .75rem;
}
.card-body .btn-primary:hover{
    background-color: #2a84dddc;
}
.card-body .btn-primary {
    color: rgb(227, 234, 252)!important;
    background-color: #2a84dd;
    transition: all .3s;
    font-weight: bold;
}
.card-img-top{
    border-radius: 2.6rem;
    background-color: rgba(51, 69, 114, 0.568);
}
/*for card with image and horizontal text*/
.row {
    margin-right: 0; 
    margin-left: 0; 
}
/*======================================================*/
/*PRODUCTS AND PROMOTIONS*/
.tab-item {
    display: none;
}
.tab-item.in {
    display: flex;
    flex-wrap: wrap;
}
/*SEARCH FILTER*/
.Search .search-navbar-filter .tab-items .tab-item {
    color:  rgb(227, 234, 252)!important;
    min-width:100%;
}
/*======================================================*/
/*Promotions*/
.promociones .container-fluid  .flex-item{
    min-width: 100%;
    max-width: max-content;
    max-height: max-content;
}
/*======================================================*/
/*Footer*/
footer{
    min-height: 25vh;
    width: 100%;
    background-color: black;
    font-size: 10vh;
    color: rgb(255, 255, 255)!important;
}
/*======================================================*/
/*======================================================*/
/*======================================================*/
/*Search navBar*/
.Search .search-navbar-filter .tab-list{
    min-width:100%;
}
.Search .search-navbar-filter .tab-list .btn{
    font-weight: bold;
    padding: .375rem .60rem;
}
.Search .search-navbar-filter .tab-items{
    min-width:100%;
}
.Search .search-navbar-filter .search-navbar-filter__options{
    min-width:100%;
}
.Search .search-navbar-filter .search-navbar-filter__options-button {
    min-width: 100%;
}
/*======================================================*/
/*btn section page*/
.page .btn{
    background-color: #053769;
    color: rgb(227, 234, 252) !important;
    font-weight: bold;
}
.page .btn:focus{
    background-color:rgb(227, 234, 252);
    color:  #053769!important;
    font-weight: bold;
    border-color: #053769;
}
/*======================================================*/
/*Content of a search*/
.result{
    background-color: #2a84dd;
}
.result .result__description p{
    text-align: center;
    color: rgb(227, 234, 252)!important;
    font-weight: bold;
}
.result .result-search{
    flex-wrap: wrap;
    margin: .65rem
}
.result .result-search .card .row .col-md-4{
    padding: 0;
}
/*======================================================*/
/*======================================================*/
/*======================================================*/